html, body {
    height: 100%;
    min-height: 400px;
    width: 100%;
    font-family: Roboto-Regular, sans-serif;
    background-color: #f7f8f9;
}

.app-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    
    .app-body {
      // flex-basis: 920px;
    }
}
