.cell {
    border: 0.5px solid lightgray;
    text-align: center;
    border-radius: 5px;
}
.darkblue {
    background-color: #3590f3;
}
.blue {
    background-color: #62bfed;
}
.lightblue {
    background-color: #a0c4e2;
}
.skyblue {
    background-color: #cfe8ef;
}
.white {
    background-color: whitesmoke;
}